## This Postgres database URL is used to store Hasura's Metadata
HASURA_GRAPHQL_METADATA_DATABASE_URL = "postgres://postgres:postgrespassword@postgres:5432/postgres"

## this env var can be used to add the above postgres database to Hasura as a data source.
# this can be removed/updated based on your needs
PG_DATABASE_URL = "postgres://postgres:postgrespassword@postgres:5432/postgres"

## Enable the Hasura Console (served by the server on / and /console).
HASURA_GRAPHQL_ENABLE_CONSOLE = true

## enable debugging mode. It is recommended to disable this in production
HASURA_GRAPHQL_DEV_MODE = true

## uncomment next line to enable different types logs
HASURA_GRAPHQL_ENABLED_LOG_TYPES = "startup, http-log, webhook-log, websocket-log, query-log"

## uncomment next line to run console offline (i.e load console assets from server instead of CDN)
# HASURA_GRAPHQL_CONSOLE_ASSETS_DIR: /srv/console-assets

## uncomment next line to set an admin secret
HASURA_GRAPHQL_ADMIN_SECRET = "myadminsecretkey"

HASURA_GRAPHQL_UNAUTHORIZED_ROLE = "anonymous"
